.panel {
    background-color: #EEE;
    margin-bottom: 1em;
    padding: 1em;
    overflow: auto;
}
.center {
    text-align: center;
}
.margin-left {
    margin-left: 1em;
}
.pull-right {
    float: right;
}
.pagination {
    text-align: right;
}
.image-fill-parent {
    width: 100%;
    height: auto;
}
.menu { 
    background-color: green;
}
.menu-link {
    color: white;
}
.menu-link:hover {
    color: black;
}
.menu-link:focus {
    color: black;
}
.logo {
    width: 80px;
}
.pag-button {
    padding-left: .5em;
    padding-right: .5em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.pag-input {
    width: 4em;
}