.panel {
    background-color: #EEE;
    margin-bottom: 1em;
    padding: 1em;
    overflow: auto;
}
.center {
    text-align: center;
}
.margin-left {
    margin-left: 2em;
}
.pull-right {
    float: right;
}